<!DOCTYPE html>
<html lang="kr">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>toy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="/css/reset.css" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<link href="/css/article/show.css" rel="stylesheet">

<body>
  <div class="background">
    <nav class="navbar navbar-fixed-top header">
      <div class="col-md-12">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            <img src="/images/KakaoCI.png" />
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/user">멤버 리스트</a></li>
          {{^session_user}}
          <li><a class="black-component" href="/user/login-form" role="button">로그인</a>
          </li>
          <li><a class="black-component" href="/user/signup" role="button">회원가입</a>
          </li>
          {{/session_user}}
          {{#session_user}}
          <li class="active"><a href="/user/form">{{nickname}}</a></li>
          <li><a class="black-component" href="/user/logout" role="button">로그아웃</a>
          </li>
          {{/session_user}}
        </ul>
      </div>
    </nav>
    <div class="container" id="main">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
          <header class="post-header">
            <p class="post-title">{{article.title}}</p>
          </header>
          <div class="content-main">
            <article class="article">
              <div class="article-header">
                <div class="article-header-text">
                  <p class="article-content"><a href="/user/{{article.authorId}}">작성자:{{article.authorNickname}}</a>
                  </p>
                  <p class="article-content">
                    작성일자:{{article.createdAt}}
                  </p>
                  <p class="article-content">조회 {{article.viewCount}}</p>
                  <a class="black-component" href="/article/{{article.id}}/update-form">수정</a>
                  <form action="/article/{{article.id}}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button class="black-component" type="submit">삭제</button>
                  </form>
                </div>
              </div>
              <div class="article-doc">
                <p>{{article.content}}</p>
              </div>
            </article>

            <div class="post-comment">
              <div class="post-comment-slipp">
                <p class="post-comment-count">댓글 코멘트사이즈개</p>
                <div class="post-comment-slipp-articles">

                  <!--                코멘트 반복문 시작-->
                  <article class="comment">
                    <div class="article-text">
                      <p class="comment-content comment-author-name">댓글작성자명 지금은 구현 못해...</p>
                      <div class="comment-content comment-doc">
                        {{article.content}}
                      </div>
                      <p class="comment-content comment-time">
                        {{article.createdAt}}
                      </p>
                      <form action="/article/{{article.id}}/comment/코멘트아이디" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button class="black-component" type="submit">삭제</button>
                      </form>
                    </div>
                  </article>
                  <!--                코멘트 반복문 끝-->

                  <form class="submit-write" method="post" action="/article/{{article.id}}/comment">
                    <div class="comment-writer-container">
                      <input class="comment-writer" id="writer" name="writer" value=유저닉네임 readonly />
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" id="content" name="content" placeholder="내용을 입력하세요"></textarea>
                    </div>
                    <input class="post-write-btn" type="submit" value="등록" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>