<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="testBox">
    <ul class="testUl">

    </ul>
  </div>

  <script>
    fetch("/api/users")
      .then(res => res.json())
      .then(data => {
        data.users.forEach(user => {
          document.querySelector(`.testUl`).innerHTML += `<li>name = ${user.username}</li>`
          document.querySelector(`.testUl`).innerHTML += `<li>loginId = ${user.userLoginId}</li>`
        });

        data.users2.forEach(user => {
          document.querySelector(`.testUl`).innerHTML += `<li>created = ${user.createdAt}</li>`
          document.querySelector(`.testUl`).innerHTML += `<li>id = ${user.id}</li>`
        });
      })
  </script>
</body>

</html>